<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Health Workforce Observatory</title>

        <!-- Bootstrap Core CSS -->
        <link th:href="@{/bootstrap2/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link  th:href="@{/bootstrap2/css/heroic-features.css}" rel="stylesheet"/>
        <link th:href="@{/bootstrap2/css/hwo.css}" rel="stylesheet"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <div class="container">

            <div class="row">
                <a th:href="@{|/facilities/facility/|}">New</a>
            </div>
            <br/>
            <div class="row">
                <table class="table table-condensed">
                    <thead>

                    <th> <span class="label label-primary">Name</span></th>

                    <th> <span class="label label-primary">Description</span></th>

                    <th> <span class="label label-primary">District</span></th>

                    <th> <span class="label label-primary">Action</span></th>
                    </thead>

                    <tbody>
                        <tr th:each="facility : ${facilities}">
                            <td th:text="${facility.name}"></td>
                            <td th:text="${facility.description}"></td>
                            <td th:text="${facility.district.name}"></td>
                            <td>
                                <a th:href="@{|/facilities/facility/?id=${facility.id}|}">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>


    <!-- /.container -->
    <!-- jQuery -->
    <script th:src="@{/bootstrap2/js/jquery.js}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{/bootstrap2/js/bootstrap.min.js}"></script>
</html>
