<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Health Workforce Observatory</title>

        <!-- Bootstrap Core CSS -->
        <link th:href="@{/bootstrap2/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link  th:href="@{/bootstrap2/css/heroic-features.css}" rel="stylesheet"/>
        <link th:href="@{/bootstrap2/css/hwo.css}" rel="stylesheet"/>
    </head>
    <body>
        <div th:replace="fragments/header :: header"></div>
        <br/>
        <div class="container">
            <div class="row">
                <a th:href="@{|/staffEstablishments/staffEstablishment/|}">New</a>
            </div>
            <br/>
            <div class="row">
                <table class="table table-condensed">
                    <thead>
                    <th>Facility</th>
                    <th>Post</th>
                    <th>Total Number Of Posts</th>
                    <th>Vacant Post</th>
                    <th>Filled Post</th>
                    <th>Action</th>
                    </thead>
                    <tbody border="1" >
                        <tr th:each="staffEstablishment : ${staffEstablishments}">
                            <td th:text="${staffEstablishment.facility.name}"></td>
                            <td th:text="${staffEstablishment.post.name}"></td>
                            <td th:text="${staffEstablishment.totalNumberOfPost}"></td>
                            <td th:text="${staffEstablishment.vacantPost}"></td>
                            <td th:text="${staffEstablishment.filledPost}"></td>
                            <td>
                                <a th:href="@{|/staffEstablishments/staffEstablishment/?id=${staffEstablishment.id}|}">Edit</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script th:src="@{/bootstrap2/js/jquery.js}"></script>

        <!-- Bootstrap Core JavaScript -->

        <script th:src="@{/bootstrap2/js/bootstrap.min.js}"></script>
    </body> 
</html>
