<!DOCTYPE html>



<div th:fragment="header" class="navbar navbar-fixed-top" style="background-color:black">
    <div class="collapse navbar-collapse">

        <!-- /.navbar-header -->

        <nav class="navbar" role="navigation">
            <h3 align="left" ><a  th:href="@{/}">Health Workforce Observatory</a></h3>
            <div class="pull-left">

                <div>
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" th:href="@{/about}">About<b class="caret"></b></a>
                            <ul  class="dropdown-menu">
                                <li ><a href="#">Aim</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Vision</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Objective</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Function</a></li>
                            </ul>
                        </li>
                        <li><a class="active"  href="/" >Contacts</a></li>
                        <li><a href="/">Service</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</div>
