<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>About Health Website Observatory</title>

        <link  th:href="@{/bootstrap2/css/bootstrap.min.css}" rel="stylesheet"/>
        <link  th:href="@{/bootstrap2/css/half-slider.css}" rel="stylesheet"/>
    </head>

    <body>

<!--         Page Content -->
      <div class="container">
            <div th:replace="fragments/header :: header"></div>
            
<br/>
<br/>
<br/>
         <div align="center">
                <div class="col-lg-8">
                    
<!--                    <div>
                    <img th:src="@{/bootstrap2/images/}" alt="hwo" width="auto" height="auto"/>
                   
                    </div>-->
                   
                   
                   
                    <h3><span >Vis</span>ion</h3>
                    <p></p>


                    <h3>A<span>i</span>m</h3>
                    <p></p>


                    <h3><span style="color: #245269" >Obj</span>ective</h3>
                    <p></p>


                    <h3><span style="color:  yellow">Fun</span>ction</h3>
                    <p></p> 


                </div>
            </div>
        </div>
 <div th:replace="fragments/footer :: footer"></div>



        <script th:src="@{bootstrap2/halfjs/jquery.js}"></script>



        <script th:src="@{bootstrap2/halfjs/bootstrap.min.js}"></script>




    </body>

</html>
