<!DOCTYPE html>
<html lang="en">

    

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Health Workforce Observatory</title>

        <!-- Bootstrap Core CSS -->
        <link th:href="@{/bootstrap2/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link  th:href="@{/bootstrap2/css/heroic-features.css}" rel="stylesheet"/>



<body>

    <div th:replace="fragments/header :: header"></div>
    
    <div class="container">
        <form action="#"   th:object="${facility}" method="post">
            <div>
                <input type="hidden" th:field="*{id}" />
                <input type="text" th:field="*{name}"  class="form-control"/>
                <input type="text" th:field="*{description}" class="form-control"/>
                <input type="submit" value="Submit"/>
            </div>
        </form>
    </div>
     <div th:replace="fragments/footer :: footer"></div>
    
    
    
      <div th:replace="fragments/footer :: footer"></div>
        <!-- /.container -->

        <!-- jQuery -->
      
          <script th:src="@{/bootstrap2/js/jquery.js}"></script>

        <!-- Bootstrap Core JavaScript -->
      
        <script th:src="@{/bootstrap2/js/bootstrap.min.js}"></script>
    
</body>
</html>