<!DOCTYPE html>
<html lang="en">



    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Health Workforce Observatory</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/bootstrap2/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link  th:href="@{/bootstrap2/css/heroic-features.css}" rel="stylesheet"/>
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
        <form action="#"   th:object="${staffEstablishment}" method="post">
            <div class="container">
                <div>
                    <input type="hidden" th:field="*{id}" />

                </div>
                <div class="col-sm-5">
                    <label>Post</label>
                    <select  class="form-control"   th:field="*{post}" size="5">
                        <option th:each="post : ${posts}" th:text="${post.name}" th:value="${post}" ></option>
                    </select>
                </div>
                
                <div>
                    <label>Total Number Of  Post</label>
                    <input type="text" th:field="*{totalNumberOfPost}"  class="form-control"/>
                </div>
                
                <div>
                    <label>Number Of  Vacant Post</label>
                    <input type="text" th:field="*{vacantPost}" class="form-control"/>
                </div>
                
                <div>
                    <label>Number Of  Filled Post</label>
                    <input type="text" th:field="*{filledPost}" class="form-control"/>
                </div>
                
                <div>
                    <input type="submit" value="Submit"/>
                </div>
            </div>
            
            
        </form>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
    <script th:src="@{/bootstrap2/js/jquery.js}"></script>

    <!-- Bootstrap Core JavaScript -->

    <script th:src="@{/bootstrap2/js/bootstrap.min.js}"></script>


</html>