<!DOCTYPE html>
<html lang="en">

    

        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <title>Health Workforce Observatory</title>

        <!-- Bootstrap Core CSS -->
        <link th:href="@{/bootstrap2/css/bootstrap.min.css}" rel="stylesheet"/>

        <!-- Custom CSS -->
        <link  th:href="@{/bootstrap2/css/heroic-features.css}" rel="stylesheet"/>
    <body>
         <div th:replace="fragments/header :: header"></div>
         <div class="container">
        <a th:href="@{|/staffEstablishments/staffEstablishment/|}">New</a>


        <table>
            <thead>
            <th>Total Number Of Posts</th>
            <th>Vacant Post</th>
            <th>Filled Post</th>
            <th>Post</th>
            <th>Action</th>
        </thead>
        <tbody border="1" >
            <tr th:each="staffEstablishment : ${staffEstablishments}">
                <td th:text="${staffEstablishment.totalNumberOfPost}"></td>
                <td th:text="${staffEstablishment.vacantPost}"></td>
                <td th:text="${staffEstablishment.filledPost}"></td>
                <td>
                    <!--to be revised issue  2 post entities :vacant post and filled post question :how to put both of them in a dropdown--> 
<!--                    <select th:field="*{staffEstablishment.filledPost}" size="5">
                        <option th:each="t : ${staffEstablishment.filledPost}" th:text="${staffEstablishment.filledPost}" th:value="${staffEstablishment.filledPost}" >[Post]</option>
                    </select>-->
                </td>
                <td>
                    <a th:href="@{|/staffEstablishments/staffEstablishment/?id=${staffEstablishment.id}|}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
         </div>
</body> 

 <div th:replace="fragments/footer :: footer"></div>


<script th:src="@{/bootstrap2/js/jquery.js}"></script>

        <!-- Bootstrap Core JavaScript -->
      
        <script th:src="@{/bootstrap2/js/bootstrap.min.js}"></script>

</html>
