
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>

        <a th:href="@{|/staffEstablishments/staffEstablishment/|}">New</a>


        <table>
            <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr th:each="staffEstablishment : ${staffEstablishments}">
                <td th:text="${staffEstablishment.name}"></td>
                <td th:text="${staffEstablishment.description}"></td>
                <td>
                    <a th:href="@{|/staffEstablishments/staffEstablishment/?id=${staffEstablishment.id}|}">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
